/* CSS file for navigation bar */

@media (min-width: 768px) {
    ul.navbar-nav {
        float: right;
    }
}

nav.navbar, nav.navbar .container {
    background: #3498db;
}

nav .container {
    padding: 10px;
}

.navbar-brand {
    color: #ecf0f1 !important;
}

.nav>li>a:hover {
    background-color: #dfdfdf;
    background-color: rgba(0, 0, 0, 0.05);
}

.glyphicon {
    color: #fff;
}

nav.navbar {
    border-radius: 0px !important;
    border: 0px;
    border-top: 5px solid #2980b9 !important;
}

.navbar-default {
	background-color: #3faae2;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	font-weight: bold;
    color: #fff;
    border-left: 1px solid rgba(1, 1, 1, 0.09);
    border-right: 1px solid rgba(1, 1, 1, 0.09);
    background-color: rgba(1, 1, 1, 0.07);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #3193c6;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #3193c6;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #3193c6;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ecdbff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecdbff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecdbff;
	}
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
.nav li {
    margin-left: 0 !important;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin: 0;
}

li {
    margin-left: 40px;
}

.nav-pills li {
    margin: 0px !important;
}
