{% for item in include.items %}
    {% assign class1 = '' %}
    {% assign class2 = '' %}
    {% assign href = item.href %}

    {% if page.url == item.href %}
        {% assign href = '#' %}

        {% if include.child == true %}
            {% assign class1 = 'activeli' %}
        {% endif %}
    {% endif %}

    {% if include.child == true %}
        {% assign class2 = 'subli' %}
    {% endif %}

    <li class="{{ class1 }} {{ class2 }}">
        <a href="{{ href }}">
            {% if item.exists == false %}
                <span style="color: #bb0000 !important;">
            {% endif %}

            {{ item.text }}

            {% if item.exists == false %}
                </span>
            {% endif %}
        </a>
    </li>

    {% if item.children and include.showall == true %}
        {% include components/navigation/tutorial-contents.html child=true items=item.children %}
    {% elsif item.children and item.section == page.section and page.section != 0 %}
        {% include components/navigation/tutorial-contents.html child=true items=item.children %}
    {% endif %}
{% endfor %}
