<div class="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Support for mobile responsive navigation bar -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="glyphicon glyphicon-th"></span>
                </button>
                
                <a class="navbar-brand" href="/">{{ site.title }}</a>
            </div>
            
            <!-- The actual menu content -->
            <div class="collapse navbar-collapse" id="navbar-content">
                {% include navigation.html nav=site.data.navigation %}
            </div>
        </div>
    </nav>
</div>