<head>
    <title>{{ page.title }} - GoHarsha.com</title>

    <!-- Meta Data to describe the page -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#2980b9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Sri Harsha Chilakapati">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | markdownify | strip_html | truncatewords: 50 }}{% endif %}">
    <meta name="keywords" content="{% for tag in page.tags %}{{ tag }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}{% if page.keywords and page.tags %}, {% endif %}{% assign keywords = page.keywords %}{% for tag in keywords %}{{ tag }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- MathJax configuration -->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config
		({
			TeX: { extensions: ["color.js"] },
            showProcessingMessages: false,
            messageStyle: "none",
            tex2jax: {preview: 'none'}
		});
	</script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>

    <link rel="stylesheet" href="{{site.url}}/css/main.css">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="icon" href="{{ site.url }}/assets/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico" type="image/x-icon"/>

    {% if page.url == '/404.html' %}
        <META http-equiv="refresh" content="5;URL={{ site.url }}/">
    {% endif %}

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message"  : "This website (rather static) doesn't really care who you are, but tools such as Google Analytics and Google Adsense may use cookies to track you.",
            "dismiss"  : "Got it!",
            "learnMore": "More info",
            "link"     : "",
            "theme"    : "dark-bottom"
        };
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/font-awesome-4.6.1/css/font-awesome.min.css">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4775129760038978",
        enable_page_level_ads: true
      });
    </script>
</head>
