<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default text-center">
            <div class="panel-body">
                <img alt="Sri Harsha Chilakapati" class="img-responsive img-circle main-logo" width="200"
                src="{{ site.url }}/assets/images/home/profile.jpg">

                <p class="home-links">
                <a href="https://www.linkedin.com/in/sri-harsha-chilakapati-770840b5"><i class="fa fa-linkedin-square fa-2x"></i></a>
                &nbsp;&nbsp;<a href="https://www.facebook.com/goharshasite"><i class="fa fa-facebook-square fa-2x"></i></a>
                &nbsp;&nbsp;<a href="http://stackoverflow.com/users/1026805/sri-harsha-chilakapati"><i class="fa fa-stack-overflow fa-2x"></i></a>
                &nbsp;&nbsp;<a href="https://github.com/sriharshachilakapati/"><i class="fa fa-github-square fa-2x"></i></a>
                &nbsp;&nbsp;<a href="mailto://hello@goharsha.com"><i class="fa fa-envelope fa-2x"></i></a>
                </p>

                {% capture md %}
Hi there! I'm Harsha.

Welcome to my world! In this website, you will find everything in my world, from LWJGL tutorials to tech
experiments! I love to code, and I love to talk about code.
                {% endcapture %}

                {{ md | markdownify }}
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">StackExchange</div>
            <div class="panel-body text-center">
                <p>StackOverflow</p>
                <p>
                    <a href="http://stackoverflow.com/users/1026805/sri-harsha-chilakapati">
                    <img src="http://stackoverflow.com/users/flair/1026805.png" width="208" height="58" alt="profile for Sri Harsha Chilakapati at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Sri Harsha Chilakapati at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                    </a>
                </p>

                <p>GameDev</p>
                <p>
                    <a href="http://gamedev.stackexchange.com/users/12820/sri-harsha-chilakapati">
                    <img src="http://gamedev.stackexchange.com/users/flair/12820.png" width="208" height="58" alt="profile for Sri Harsha Chilakapati at Game Development Stack Exchange, Q&amp;A for professional and independent game developers" title="profile for Sri Harsha Chilakapati at Game Development Stack Exchange, Q&amp;A for professional and independent game developers">
                    </a>
                </p>

                <p>SuperUser</p>
                <p>
                    <a href="http://superuser.com/users/153249/sri-harsha-chilakapati">
                    <img src="http://superuser.com/users/flair/153249.png" width="208" height="58" alt="profile for Sri Harsha Chilakapati at Super User, Q&amp;A for computer enthusiasts and power users" title="profile for Sri Harsha Chilakapati at Super User, Q&amp;A for computer enthusiasts and power users">
                    </a>
                </p>

                <a href="http://stackoverflow.com/story/sriharshachilakapati">
                    <div class="btn btn-lg btn-primary">
                        View my Developer Story
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Recent Posts</div>
            <div class="panel-body">
                <ul class="nav navbar-pills navbar-stacked">
                    {% for item in site.posts | limit: 5 %}
                    <li>
                        <a href="{{ site.url | append: item.url }}">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <div class="text-center">
                    <a href="{{ site.url }}/feed.xml">
                        <div class="btn btn-lg btn-primary">
                            Subscribe via RSS
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
