.tag-blog
{
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0;
}

kbd
{
    color: #333;
    background: #eee;
    padding: 5px 15px 5px 15px;
    margin: 2px;
    display: inline-block;
    text-align: left;
}

kbd:hover
{
    background: #f3f3f3;
}

.pagination
{
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.post-blog-entry
{
    border-bottom: 1px solid #ededed;
}

.post-entry-title
{
    margin-bottom: 0 !important;
    padding-bottom: 5px !important;
    padding-left: 20px;
}

.blog-hero {
    background-color: #D6D6D6;
    padding-top: 30px;
    padding-bottom: 35px;
    text-align: center;
}

.blog-title {
    font-family: Pacifico;
    font-size: 55px;
    line-height: 97px;
}

.blog-subtitle {
    font-family: Roboto;
    font-size: 20px;
    line-height: 35px;
    margin-top: 10px;
}