.pagination {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $colorSecondary;
    margin: 0;
}

.post-blog-entry {
    @include surface;
    padding: 20px;
    margin: 16px 0px;
    border-radius: 20px;
}

.read-more-link {
    text-decoration: none;
}

.post-excerpt {
    margin-top: 10px;
}

.post-entry-title .float-right {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 15px;
    float: right;
}

.post-entry-title .float-right::before {
    content: 'a';
    visibility: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    font-size: 1.6em;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Raleway';
}

.post-entry-title {
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 1.6em;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Raleway';
}

.post-entry-title, .post-entry-title:hover {
    color: #111111;
}

.blog-hero {
    @include secondary;

    padding-top: 30px;
    padding-bottom: 35px;
    text-align: center;
}

.blog-title {
    font-family: Pacifico;
    font-size: 55px;
    line-height: 97px;
}

.te .blog-title {
    font-family: Pacifico, Suravaram;
}

.blog-subtitle {
    font-family: Roboto;
    font-size: 20px;
    line-height: 35px;
    margin-top: 10px;
}

.blog-post-tags {
    @include secondaryVariant;
    padding-top: 16px;
    padding-bottom: 16px;
}

.blog-post-content, .blog-post-comments, .blog-post-share-buttons {
    padding-top: 40px;
}

#lang-select {
    @include control;
    padding: 7px 10px;
    margin: 2px;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 1em;
    border: none;
    border-radius: 4px;
}

article > p > img {
    display: block;
    margin: 1.2em auto;
}