/* CSS file for navigation bar */

@media (min-width: 768px) {
    ul.navbar-nav {
        float: right;
    }

    .nav li > a
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.navbar-brand
{
    font-weight: 700;
    padding-top: 20px;
}

nav.navbar, nav.navbar .container, ul .dropdown-menu {
    background: #3498db;
    color: #ecf0f1;
}

.dropdown-menu {
    box-shadow: 0px 0px 0px;
    border: 0px;
    border-radius: 0;
    margin: 0px;

    padding: 0px;
    padding-bottom: 3px;
}

ul.dropdown-menu > li {
    padding: 0;
}

ul.dropdown-menu > li > a {
    background: #1d79bb;
    color: #ecf0f1;

    padding: 15px;
    font-size: 1.2em;

    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.navbar-brand {
    color: #ecf0f1 !important;
}

.nav>li>a:hover, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .navbar-brand:hover {
    background-color: #dfdfdf;
    background-color: rgba(0, 0, 0, 0.1);
}

.glyphicon {
    color: #fff;
}

nav.navbar {
    border-radius: 0px !important;
    border: 0px;
    border-top: 5px solid #2980b9 !important;
}

.navbar-default {
	background-color: #3faae2;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecf0f1;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #fff;
    background-color: rgba(1, 1, 1, 0.1);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecf0f1;
	background-color: #1d79bb;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecf0f1;
	background-color: #1d79bb;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #1d79bb;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ecf0f1;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecf0f1;
	}
}

@media (min-width: 767px) {
    .navbar-collapse
    {
        padding: 0 !important;
    }

    .navbar-brand
    {
        margin-left: 5px !important;
    }
}

.nav li {
    margin-left: 0 !important;
}

li {
    margin-left: 40px;
}

.nav-pills li {
    margin: 0px !important;
}

.footer
{
    padding-top: 20px;
    color: #ecf0f1;
    background: #3498db;
}
