.navbar {
    @include primaryVariant;
}

.navbar li, .navbar-stacked li {
    font-size: 16px;
    line-height: 1.8em;
    margin: 0;
}

.dropdown-menu.show {
    min-width: max-content;
}

.dropdown-menu li.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

.toc > * {
    display: block;
}

.toc {
    @include secondaryVariant;
    min-width: 250px;
    max-width: 100%;
    padding: 20px;
    margin: 33px;
    margin-top: 0;
    margin-right: 0;
}

.toc li {
    padding: 5px 10px;
}

.toc li:hover, .toc li.activeli {
    background-color: darken($color: $colorSecondaryVariant, $amount: 5%);
}

.subli a {
    margin-left: 2em;
}