$sidebar-width: 320px;

.sidebar {
    width: $sidebar-width;
}

.sidebar-content {
    @include primary;

    position: fixed;
    padding-top: 60px;

    min-height: 100vh;
    width: $sidebar-width;
}

.profile-pic {
    width: 200px;
}

.profile-title {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
}

.profile-text {
    font-family: Roboto;
    padding: 0;
    line-height: 20px;
    font-size: 15px;
}

.profile-icon, .profile-icon:hover {
    @include primary;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
}