$sidebar-width: 320px;

.sidebar {
    width: $sidebar-width;
}

.sidebar-content {
    position: fixed;

    background-image: url('/assets/images/sidebar_bg.png');
    background-size: cover;
    
    min-height: 100vh;
    width: $sidebar-width;
}

.profile-pic {
    width: 200px;
    margin-top: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.profile-title {
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    margin-top: 20px;
    font-size: 28px;
    line-height: 70px;
    text-align: center;
    
    color: #ffffff;
}

.profile-text {
    font-family: Roboto;
    color: #ffffff;
    line-height: 1rem;
}