$footer-height: 4em;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #EEEEEE;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

#content {
    padding-bottom: $footer-height;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
}

.container {
    max-width: 800px;
}