$footer-height: 5em;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #EEEEEE;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

#content {
    padding-bottom: $footer-height;
    max-width: 100vw;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
}

.container {
    max-width: 900px;
    padding-left: 16px;
    padding-right: 16px;
}

img {
    max-width: 100%;
}

section {
    text-align: center;
    margin-bottom: 40px;
}

section > * {
    margin: 0 auto !important;
}

section .card {
    border-radius: 20px;
}

section h1 {
    text-align: center;
    font-family: 'Pacifico';
    font-size: 44px;
    margin-top: 40px !important;
}

section .card img {
    padding: 20px;
    height: 250px;
    object-fit: contain;
}

section .card {
    padding-top: 20px;
}

.card-title {
    line-height: 1.5em;
}