#tagCloud, #posts-with-tag {
    margin-bottom: 30px;
}

kbd {
    @include control;
    padding: 5px 10px;
    margin: 2px;
    display: inline-block;
    font-family: 'Roboto';
    font-size: 15px;
}