h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;

    padding-top: 10px;
    padding-bottom: 15px;
}

p, li, td, th {
    font-size: 1.2em;
    line-height: 1.8em;
}

p {
    padding-bottom: 5px;
    padding-top: 5px;
}

li {
    margin-left: 2.5em;
    padding-left: 0.5em;
}

code {
    font-family: 'Fira Code';
    font-feature-settings: "calt" 1;  /* Enable ligatures for IE 10+, Edge */
    text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
    white-space: pre-wrap;
    line-height: 1.6em;
}

pre code {
    font-size: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    line-height: 1.8em;
}

.te article p {
    font-family: 'Roboto', 'Noto Sans Telugu';
    font-size: 13pt;
    line-height: 25pt;
    color: #000;
}

.te article h1, .te article h2, .te article h3, .te article h4, .te article h5, .te article h6 {
    font-family: 'Raleway', 'Suravaram', sans-serif;
    font-size: 25pt;
    font-weight: 700;
}

b {
    font-weight: 700;
}

table {
    width: 100%;
    border-top: 2px solid #2980b9;
    border-bottom: 4px solid #2980b9;
    margin-top: 20px;
    margin-bottom: 25px;
    max-width: 100%;
}

th {
    background: #ecf0f1;
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background: #E6E6E6;
}

a {
    color: #2980b9;
}

a:hover {
    color: #3498db;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.note {
    background: #E3FFE3;
    padding: 20px;
    border-top: 5px solid #27ae60;
    border-bottom: 2px solid #27ae60;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 30px;
}

article > p {
    text-align: justify;
}