{% if include.post %}
    {% assign postUrl = include.post.url %}
    {% assign postTitle = include.post.title %}
    {% assign postDate = include.post.date | date: "%b %-d, %Y" %}
    {% assign postExcerpt = include.post.excerpt %}
    {% assign tags = include.post.tags %}
{% else %}
    {% assign postUrl = include.postUrl %}
    {% assign postTitle = include.postTitle %}
    {% assign postDate = include.postDate %}
    {% assign postExcerpt = include.postExcerpt %}
    {% assign tags = include.tags %}
{% endif %}

<div class="post-blog-entry">
    <div class="row">
        <a class="post-entry-title" href="{{ postUrl }}">
            {{ postTitle }}
            
            <small class="float-right">
                {% if include.post %}
                    {% include components/content/reading-time.html post=include.post %}
                    {{ "&nbsp;" | repeat: 4 }}
                {% endif %}

                {% include components/content/comments/comments-count.html identifier=postUrl %}
            </small>
        </a>

        <div class="col-lg-1r col-sm-12 col-xs-12">
            <p class="tag-blog">
                {% if include.post %}
                    {% for tag in tags %}
                        <a href="/tags/?name={{ tag }}"><kbd>{{ tag }}</kbd></a>
                    {% endfor %}
                {% else %}
                    {{ tags }}
                {% endif %}
            </p>

            <small>Posted on {{ postDate }}</small>
        </div>
    </div>

    <div class="row post-excerpt">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            {{ postExcerpt | markdownify | truncatewords: 100 }}
        </div>
    </div>
</div>
