{% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}"><kbd>&laquo; Previous Page</kbd></a>
{% else %}
    <kbd>&laquo; Previous Page</kbd>
{% endif %}

<div>
    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
            <kbd><strong><em>{{ page }}</em></strong></kbd>
        {% elsif page == 1 %}
            <a href="{{ '/blog/' | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}"><kbd>{{ page }}</kbd></a>
        {% else %}
            <a href="{{ site.paginate_path | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"><kbd>{{ page }}</kbd></a>
        {% endif %}
    {% endfor %}
</div>

{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | remove: 'index.html' | prepend: site.baseurl | replace: '//', '/' }}"><kbd>Next Page &raquo;</kbd></a>
{% else %}
    <span><kbd>Next Page &raquo;</kbd></span>
{% endif %}