{% if page.comments != false %}
<div class="share-buttons">
    <b>Share on:</b>

    {% capture full-url %}http://goharsha.com{{ include.url }}{% endcapture %}
    {% assign url-escaped = full-url | url_encode %}


    <!--the Facebook base
    https://www.facebook.com/dialog/share? -->
    {%- capture facebook-url -%}
    https://www.facebook.com/sharer/sharer.php?u={{ url-escaped }}
    {%- endcapture -%}

    <a href="{{ facebook-url }}" target="_blank">
        <kbd>
            {% tabler_filled ti-brand-facebook size=32 %}

            Facebook
        </kbd>
    </a>

    <!--the LinkedIn base url
    http://www.linkedin.com/shareArticle?mini=true -->
    {%- capture linkedin-url -%}
    http://www.linkedin.com/shareArticle?mini=true&url={{ url-escaped }}&title={{ include.title }}&source={{ include.title }}
    {%- endcapture -%}

    <a href="{{ linkedin-url }}" target="_blank">
        <kbd>
            {% tabler_filled ti-brand-linkedin size=32 %}

            Linkedin
        </kbd>
    </a>

</div>
{% endif %}
