---
layout: default
title: Blog
description: The Open Diary - Something about everything
---

<div class="container-fluid blog-hero position-relative">
    <h1 class="blog-title">The Open Diary</h1>
    <h2 class="blog-subtitle"><em><strong>Something</strong></em> about <em><strong>everything</strong></em></h2>
</div>

<div class="container">
    <div class="row m-lg-auto">
        {% include components/content/pagination.html %}

        {% for p in paginator.posts %}
            {% include components/content/blog-entry.html post=p %}
        {% endfor %}
        
        {% include components/content/pagination.html %}

        <div class="row">
            <p class="text-center">
                Subscribe via <a href="{{site.url}}/feed.xml">RSS</a>
            </p>
        </div>
    </div>
</div>
