<div class="footer container-fluid clear-top clear-bottom">
    <p class="text-center pt-4">
        GoHarsha.com &copy; Sri Harsha Chilakapati 2014 &mdash; 2026
    </p>
</div>

<!-- Non-critical scripts loaded at page end to avoid blocking -->
<script>
    window.cookieconsent_options = {
        "message"  : "This website (rather static) doesn't really care who you are, but tools such as Google Analytics and Google Adsense may use cookies to track you.",
        "dismiss"  : "Got it!",
        "learnMore": "More info",
        "link"     : "",
        "theme"    : "dark-bottom"
    };
</script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>

<script async id="dsq-count-scr" src="https://goharsha.disqus.com/count.js"></script>
