<div class="card hero-card mt-sm-0 mt-md-5 d-lg-none">
    <div class="card-body row pt-5 pb-4 d-flex align-items-center">
        <div class="text-center col-xs-12 col-md-6 mb-xs-4 mb-sm-4 mb-lg-0">
            <img class="profile-pic" src="{{ site.url }}/assets/images/home/profile.png" />
            <p class="profile-title mt-4">Sri Harsha Chilakapati</p>
        </div>

        <div class="col-xs-12 col-md-6 mt-md-n3 mt-3 mt-md-0 text-center text-sm-center text-md-start">
            <p class="profile-text">Mobile App Developer (Android & iOS)</p>
            <p class="profile-text">FP Engineer <strong>@juspay</strong></p>
            <p class="profile-text">Coding Nerd</p>
            <p class="profile-text">Wannabe Linguist</p>

            <p class="mb-5"></p>

            <p class="profile-text mb-5"><strong><em>And a lot <u>more!</u></em></strong></p>

            {% include components/social-icons.html %}
        </div>
    </div>
</div>