<div class="hero-card pt-5 pb-4 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="text-center col-xs-12 col-md-7 mb-xs-4 mb-sm-4 mb-lg-0">
                <h1 class="greeting">Hi there!</h1>
                <img class="profile-pic" src="{{ site.url }}/assets/images/home/profile.png" />
                <p class="profile-title mt-4">Sri Harsha Chilakapati</p>
            </div>

            <div class="col-xs-12 col-md-5 mt-md-n3 mt-3 mt-md-0 text-center text-sm-center text-md-start">
                <h1 class="text-left">I'm a</h1>
                
                {% for credential in site.data.author-credentials %}
                    <p class="profile-text">{{ credential }}</p>
                {% endfor %}

                <p class="mb-4"></p>

                <p class="profile-text mb-5"><strong><em>And a lot <u>more!</u></em></strong></p>

                {% include components/social-icons.html %}
            </div>
        </div>
    </div>
</div>