<div class="sidebar flex-column flex-shrink-0 d-none d-lg-block">
    <div class="sidebar-content px-4">
        <div class="text-center">
            <img class="profile-pic" src="{{ site.url }}/assets/images/home/profile.png" />
            <p class="profile-title">Sri Harsha Chilakapati</p>
            
            {% include components/social-icons.html %}
        </div>
        
        <div class="mt-5">
            <p class="profile-text mt-5">Mobile App Developer (Android & iOS)</p>
            <p class="profile-text">FP Engineer <strong>@juspay</strong></p>
            <p class="profile-text">Web Developer <strong>@here</strong></p>
            <p class="profile-text">Coding Nerd</p>
            <p class="profile-text">Wannabe Linguist</p>
            
            <p class="mb-5"></p>
            
            <p class="profile-text"><strong><em>And a lot <u>more!</u></em></strong></p>
        </div>
    </div>
</div>