<!DOCTYPE html>

{% assign lang = 'en' %}
{% if page.lang %}
{% assign lang = page.lang %}
{% endif %}

<html lang="{{ lang }}">

{% include structure/head.html %}

<body>
    <div class="d-flex flex-row flex-no-wrap align-items-stretch">
        {% include components/sidebar.html %}
        
        <div class="wrapper flex-column flex-grow-1">
            {% include components/navigation/navbar.html %}
            
            <div id="content" class="container">
                <div class="row m-lg-auto">
                    {{ content }}
                </div>
            </div>
            
            {% include components/footer.html %}
        </div>
    </div>
</html>