<!DOCTYPE html>

{% assign lang = 'en' %}
{% if page.lang %}
{% assign lang = page.lang %}
{% endif %}

<html lang="{{ lang }}">

{% include structure/head.html %}

<body>
    <div class="d-flex flex-row flex-no-wrap align-items-stretch">
        {% if page.sidebar != false %}
            {% include components/sidebar.html %}
        {% endif %}
        
        <div class="wrapper flex-column flex-grow-1">
            {% include components/navigation/navbar.html %}
            
            <div id="content">
                {{ content }}
            </div>
            
            {% include components/footer.html %}
        </div>
    </div>
</html>