---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    {% if page.ref %}
        <div class="pull-right">
            <label for="lang-select">Language:</label>
            <select id="lang-select" onchange="window.location.href = this.value">
                {% for other in site.pages %}
                    {% if other.ref == page.ref %}
                        {% if page.lang == other.lang %}
                            <option value="{{ site.url }}{{ other.url }}" selected="selected">
                                {% include language-string.html lang = other.lang %}
                            </option>
                        {% else %}
                            <option value="{{ site.url }}{{ other.url }}">
                                {% include language-string.html lang = other.lang %}
                            </option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    {% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="text-center">
  {% include share-buttons.html url=page.url title=page.title %}
  </div>

    {% unless page.comments == false %}
        {% include comments.html %}
    {% endunless %}
</div>
