---
layout: default
---

<div class="container-fluid position-relative blog-hero">
    <h1 class="blog-title">{{ page.title }}</h1>
</div>

{% if page.ref %}
    <div class="blog-post-tags">
        <div class="container d-flex justify-content-between align-items-center">
            <div>
            This page is also available in other languages
            </div>

            <div>
                {% include components/content/language/language-selector.html %}
            </div>
        </div>
    </div>
{% endif %}

<div class="container">
    <div class="row m-lg-auto col-sm-12 col-xs-12 blog-post-content">
        <article>
            {{ content }}
        </article>
    </div>

    <div class="row text-center blog-post-share-buttons">
        {% include components/content/share-buttons.html url=page.url title=page.title %}
    </div>
    
    <div class="row blog-post-comments">
        {% include components/content/comments/comments.html %}
    </div>
</div>

