---
layout: default
---
<div class="post">

  <header class="post-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="post-title">{{ page.title }}</h1>

            {% for tag in page.tags %}
                <kbd>{{ tag }}</kbd>
            {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-7 col-lg-7">
            <h2><small>Written by Sri Harsha Chilakapati on {{ page.date | date: "%b %-d, %Y" }}</small></h2>
        </div>

        <div class="col-xs-12 col-sm-5 col-lg-5">
            <h2><small class="pull-right">{% include comments-count.html %}</small></h2>
        </div>
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="text-center">
      {% include share-buttons.html url=page.url title=page.title %}
  </div>

  {% include comments.html %}
</div>
