---
layout: default
---

<div class="container-fluid blog-hero">
    <h1 class="blog-title">
        {% if page.autopages %}
            {% assign slug = page.autopages.display_name | slugify %}
            {% capture quoted_display_name %}
                '{{ page.autopages.display_name }}'
            {% endcapture %}
            {{ page.title | replace: slug, quoted_display_name }}
        {% else %}
            {{ page.title }}
        {% endif %}
    </h1>

    {% if page.subtitle %}
      <h2 class="blog-subtitle">{{ page.subtitle }}</h2>
    {% endif %}
</div>

<div class="blog-post-tags">
    <div class="container d-flex justify-content-between align-items-center">
        {% include components/content/pagination.html %}
    </div>
</div>

<div class="container">
    <div class="row m-lg-auto col-sm-12 col-xs-12 blog-post-content">
        {% for p in paginator.posts %}
            {% include components/content/blog-entry.html post=p %}
        {% endfor %}
    </div>

    <div class="row mb-4">
        <p class="text-center">
            Subscribe via <a href="{{site.url}}/feed.xml">RSS</a>
        </p>
    </div>
</div>

<div class="blog-post-tags">
    <div class="container d-flex justify-content-between align-items-center">
        {% include components/content/pagination.html %}
    </div>
</div>
